.simples{
    height: 500px;
    width: 500px;
    margin: auto;
}

h1 {
    color: white;
}

@media (min-width: 0px) and (max-width: 420px){
    .simples{
        background-color: gray;
    }
    .cor::after{
        content: "cinza";
    }
}
@media (min-width: 421px) and (max-width: 768px){
    .simples{
        background-color: orange;
    }
    .cor::after{
        content: "Laranja";
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .simples{
        background-color: pink;
    }
    .cor::after{
        content: "Rosa";
    }
}
@media (min-width: 1025px) and (max-width: 1080px){
    .simples{
        background-color: red;
    }
    .cor::after{
        content: "Vermelho";
    }
}
@media (min-width: 1081px) and (max-width: 1367px){
    .simples{
        background-color: purple;
    }
    .cor::after{
        content: "Roxo";
    }
}
@media (min-width: 1367px) and (max-width: 1920px){
    .simples{
        background-color: yellow;
    }
    .cor::after{
        content: "Amarelo";
    }
}
